.card{
    height: 10rem;
    width: 10rem;
    
}
.camps-kept{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: auto;
grid-gap: 1rem;
}
.camp-header{
text-align: center;
}